
		<!-- Header -->
    <header id="header" class="alt">
      <h1><a href="index.html">EduApp by Anya Tamara</a></h1>
      <a href="#nav">Menu</a>
    </header>

  <!-- Nav -->
    <nav id="nav">
      <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/lessons">Lessons</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="elements.html">Test</a></li>
        <li><a href="elements.html">Login/Register</a></li>
      </ul>
    </nav>




<router-outlet></router-outlet>


<footer id="footer">
  <div class="inner">
    <ul class="icons">
      <li><a href="#" class="icon fa-facebook">
        <span class="label">Facebook</span>
      </a></li>
      <li><a href="#" class="icon fa-twitter">
        <span class="label">Twitter</span>
      </a></li>
      <li><a href="#" class="icon fa-instagram">
        <span class="label">Instagram</span>
      </a></li>
      <li><a href="#" class="icon fa-linkedin">
        <span class="label">LinkedIn</span>
      </a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Anyata.</li>
      <li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
      <li>Design: <a href="http://templated.co">Anyata</a>.</li>
    </ul>
  </div>
</footer>

