
<div class="gallery">
    <div class="img-container">
        <img src="assets/images/p4.jpg" alt="">
        <h1>Lessons</h1>
    </div>
</div>
<br>
<h2 style="text-align: center;">
PENGECORAN LOGAM
</h2>
<div class="gallery" style="margin-left: 1rem; margin-right: 1rem;">
    <div class="img-small" id="container">
        <img id="image" src="assets/images/cor1.jpg" alt="">
        <div class="caption">
            <p id="text">Sejarah</p>
        </div>  
    </div>
    <div class="img-small" id="container">
        <img id="image" src="assets/images/cor2.jpg" alt="">
        <div class="caption">
            <p id="text">Persiapan</p>
        </div>  
    </div>
    <div class="img-small" id="container">
        <img id="image" src="assets/images/cor3.jpg" alt="">
        <div class="caption">
            <p id="text">Proses</p>
        </div>  
    </div>
    <div class="img-small" id="container">
        <img id="image" src="assets/images/cor4.jpg" alt="">
        <div class="caption">
            <p id="text">Finishing</p>
        </div>  
    </div>

