
<div class="gallery">
    <div class="img-container">
        <img src="assets/images/games3.jpg" alt="">
        <h1>Games</h1>
    </div>
</div>
<br>
<h2 style="text-align: center;">
GAMES FOR CASTING LESSON
</h2>

<div class="lesson" style="margin-left: 1rem; margin-right: 1rem;">
    <div *ngFor="let material of materials; index as i"
    class="img-small" id="container" (click)='click(i)'>
        <img id="image" src={{material[1]}} alt="">
        <div class="caption"  >
            <p id="text">{{material[0]}}</p>
        </div>  
    </div>
</div>

<div *ngIf='pop'>
    <div  (click)=close() class="modal open">
        <img src={{materials[choose][1]}} alt="">
        <p class="caption">{{materials[choose][2]}}</p>
    </div>    
</div>

<br>


   




    
    


