<!-- Banner -->
			<section id="banner">
				<i class="icon fa-tasks"></i>
				<h2>Learn everywhere!</h2>
        <p>Play games and enrich yourself with knowledge and new skill</p>
				<ul class="actions">
					<li><a href="#" class="button big special">Learn Now!</a></li>
				</ul>
      </section>
      
      		<!-- Form login -->
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header class="major narrow">
						<h2>LOG IN</h2>
						<p>sudah punya akun? login di sini
            </p>
					</header>
					<form action="#" method="POST">
						<div class="container 75%">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email" />
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="password" placeholder="password" type="password" />
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" class="special" value="Log in" /></li>
							<li><input type="reset" class="alt" value="Register" /></li>
						</ul>
					</form>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="assets/images/pic01.jpg" alt="" /></span>
						<div class="content">
							<h2>SEJARAH PENGECORAN</h2>
							<p>
                Cara termudah untuk memahami sesuatu adalah melalui sejarah.
                Cari tahu dan pelajari bagaimana metode pengecoran tercipta.
                Apa keunggulan dan kelemahan teknik ini? Cari tahu lebih lanjut!
              </p>
							<ul class="actions">
								<li>
									<a href="#" class="button alt">More</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="assets/images/pic02.jpg" alt="" /></span>
						<div class="content">
							<h2>PENGECORAN LOGAM DENGAN MESIN</h2>
							<p>Modul-set 1 yang berisi hal dasar tentang pengecoran, jenis mesin, dan cara kerja.
                Mainkan pula mini games menarik untuk mengetahui sejauh mana pengetahuan dasar mu!</p>
							<ul class="actions">
								<li>
									<a href="#" class="button alt">More</a>
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper special">
				<div class="inner">
					<header  style="margin-bottom: 0;"class="major narrow">
            <h2>KAPAN HARUS MEMILIH PENGECORAN?</h2>
          </header>
						<p style="margin-top: none;">Setiap proses pembentukan logam memiliki
              keunggulan dan kekurangannya. <br> Lantas kapan harus 
              memilih pengecoran untuk pembentukan logam?
            </p>
					<div class="image-grid">
						<a href="#" class="image"><img src="assets/images/pic03.jpg" alt="" /></a>
						<a href="#" class="image"><img src="assets/images/pic04.jpg" alt="" /></a>
						<a href="#" class="image"><img src="assets/images/pic05.jpg" alt="" /></a>
						<a href="#" class="image"><img src="assets/images/pic06.jpg" alt="" /></a>
						<a href="#" class="image"><img src="assets/images/pic07.jpg" alt="" /></a>
						<a href="#" class="image"><img src="assets/images/pic08.jpg" alt="" /></a>
						<a href="#" class="image"><img src="assets/images/pic09.jpg" alt="" /></a>
						<a href="#" class="image"><img src="assets/images/pic10.jpg" alt="" /></a>
					</div>
					<ul class="actions">
						<li><a href="#" class="button big alt">Tempus Aliquam</a></li>
					</ul>
				</div>
            </section>
            

		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major narrow	">
						<h2>Magna sed consequat tempus</h2>
						<p>Ipsum dolor tempus commodo turpis adipiscing Tempor placerat sed amet accumsan</p>
					</header>
					<ul class="actions">
						<li><a href="#" class="button big alt">Magna feugiat</a></li>
					</ul>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header class="major narrow">
						<h2>Get in touch</h2>
						<p>Ipsum dolor tempus commodo adipiscing</p>
					</header>
					<form action="#" method="POST">
						<div class="container 75%">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text" />
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email" />
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" class="special" value="Submit" /></li>
							<li><input type="reset" class="alt" value="Reset" /></li>
						</ul>
					</form>
				</div>
			</section>
